body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.logo {
    color: #212121;
    text-decoration: none;
}

.logo-accent {
    color: #2196F3;
}

/* Колір основного тексту #212121 */

/* Колір підписів #757575 */

/* Колір акценту #2196F3 */

/* Колір адреси #FFFFFF */