:root {
    --primary-text-color: #212121;
    --accent-text-color: #2196F3;
    --description-text-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #FFFFFF;
}

/* Колір основного тексту #212121 */

/* Колір підписів #757575 */

/* Колір акценту #2196F3 */

/* Колір адреси #FFFFFF */


/* прибрані крапки в списках */
.list {
    list-style: none;
}

/* приховані заголовки */
.hidden{
    display: none;
}

/* header */
/* .header{
    background-color: #FFFFFF;
} */

.logo {
    color: #212121;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-accent {
    color: #2196F3;
}

.site-nav{
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.list .site-nav.current {
    color: var(--accent-text-color);
}

.site-nav:hover,
.site-nav:focus{
    color: #2196F3;
}

.mail,
.telephone {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.mail:hover,
.mail:focus,
.telephone:hover,
.telephone:focus,
.link-footer:hover,
.link-footer:focus{
    color: #2196F3;
}

/* order section */

.order-window{
    background-color: #2F303A;
}
.order-button{
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.order-service{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
}

.title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

/* benefits list */
/* .benefits{
    background-color: #E5E5E5;
} */

.benefit-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefit-description{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}

/* Our work */

.our-work-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
}

/* Our team */

.team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
}

.team{
    background-color: #F5F4FA;
}

/* .team-photo{
} */

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.position{
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* portfolio main */

/* buttons */

.product-button{
        background: #F5F4FA;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        border: none;
        cursor: pointer;
}

.product-button:hover,
.product-button:focus {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

/* projects */

.project-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.project-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
}

/* footer */
.footer{
    background-color: #2F303A;
}

.logo-footer{
        color: #ffffff;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}
.address-footer{
        font-size: 14px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        font-style: normal;
        text-decoration: none;
}
.link-footer{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        text-decoration: none;
}